{% extends "base.njk" %}

{% block titulo %}Contactos | Listado{% endblock %}

{% block contenido %}

    <h1>Listado de contactos</h1>

    <ul>
        {% for contacto in contactos %}
            <li>{{ contacto.nombre }} 
                <a class="btn btn-success" href="/contactos/{{ contacto.id }}">Ficha</a>
                <form style="display:inline" action="/contactos/{{ contacto.id }}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn btn-danger">Borrar</button>
                </form>
                <a class="btn btn-primary" href="/contactos/editar/{{ contacto.id }}">Editar</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
